<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/angular2-logo.png" alt="">
      </div>
      Recipes11
    </a>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>

    <li>
      <a routerLink="recipes">
        <i class="ti-arrow-top-right"></i>
        <p>Recipes</p>
      </a>
    </li>
    <li>
      <a routerLink="hotels">
        <i class="ti-arrow-top-right"></i>
        <p>DineOut</p>
      </a>
    </li>
  </ul>
</div>
